

version: '3.8'

#services:
 # postgres:
  #  image: postgres:16
   # container_name: postgres_n8nDev
    #restart: always
    #ports:
    #  - "5432:5432"
    #env_file:
     # - ../.env  # Ruta relativa al archivo .env
    #volumes:
     # - postgres_data:/var/lib/postgresql/data
    #healthcheck:
     # test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      #interval: 5s
      #timeout: 5s
      #retries: 5


services:
  mysql:
    image: mysql:8.0
    container_name: mysql_n8nDev
    restart: always
    ports:
      - "3306:3306"
    env_file:
      - .env   # IGUAL que tu ejemplo con postgres
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:

#volumes:
 # postgres_data:
